@media only screen and (min-width: 1024px) {
  footer.article-footer,
  .warpper {
    max-width: 1200px;
  }
}

@media screen and (max-width: 900px) {
  .warpper-content {
    grid-template-columns: minmax(0, 3.5fr);
    grid-template-areas: 'main';
  }
  .warpper-content.sidebar {
    grid-template-areas: 'sidebar main';
    grid-template-columns: 180px minmax(0, 41rem);
  }
  nav.tocs {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .warpper-content {
    grid-template-columns: minmax(0, 3.5fr);
    grid-template-areas: 'main';
  }
  .warpper-content.sidebar {
    grid-template-areas: 'main';
    grid-template-columns: minmax(0, 41rem);
  }
  nav.tocs,
  .sidebar-border {
    display: none;
  }
}

@media print {
  .header,
  nav.tocs,
  section.article-footer,
  .sidebar-border,
  .previous,
  .footer,
  a.gototop {
    display: none;
  }
  .warpper-content {
    margin: 0;
    padding: 0;
    display: initial;
  }
}
